* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden !important;
    /* Hide vertical scrollbar */
    overflow-x: hidden !important;
    /* Hide horizontal scrollbar */
}
.imgFondo{
    background-image:    url("images/fondo.jpeg");
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center;
    
}
.fondo {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(180deg, #14242fa9 29%, #1a2d3ace 50%, #172530f0 70%);
    animation: gradient 14s ease infinite;
    background-size: 500% 500%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#superior {
    height: 15vh;
}

#centro {
    height: 65vh;
}

#inferior {
    height: 15vh;
}

.logos {
    height: 10vh;
    width: auto;
}

.logs {
    height: 7vh;
    width: auto;
}

.over {
    
    transition: all 1s;
}

.over:hover {
    transform: scale(1.1);
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}